<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.lndicatormonitor.mapper.LoadTaskMapper">

    <resultMap id="BaseResultMap" type="com.iscas.lndicatormonitor.domain.LoadTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="loadId" column="load_id" jdbcType="VARCHAR"/>
            <result property="testId" column="test_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="resultPath" column="result_path" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,load_id,test_id,
        create_time,end_time,result_path,
        is_deleted
    </sql>
</mapper>
