<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.lndicatormonitor.mapper.Obeservedindexv2Mapper">

    <resultMap id="BaseResultMap" type="com.iscas.lndicatormonitor.domain.faultconfigv2.Obeservedindexv2">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="faultConfigId" column="faultConfigId" jdbcType="INTEGER"/>
            <result property="metricId" column="metricId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,faultConfigId,metricId
    </sql>
</mapper>
