<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.lndicatormonitor.mapper.PlancollectionMapper">
  <resultMap id="BaseResultMap" type="com.iscas.lndicatormonitor.domain.Plancollection">
    <!--@mbg.generated-->
    <!--@Table plancollection-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_id" jdbcType="INTEGER" property="planId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, plan_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from plancollection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from plancollection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPlanId" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from plancollection
    where plan_id = #{planId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Plancollection" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into plancollection (plan_id)
    values (#{planId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Plancollection" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into plancollection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        plan_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iscas.lndicatormonitor.domain.Plancollection">
    <!--@mbg.generated-->
    update plancollection
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iscas.lndicatormonitor.domain.Plancollection">
    <!--@mbg.generated-->
    update plancollection
    set plan_id = #{planId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>