<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.lndicatormonitor.mapper.PresscorrelationMapper">
  <resultMap id="BaseResultMap" type="com.iscas.lndicatormonitor.domain.Presscorrelation">
    <!--@mbg.generated-->
    <!--@Table presscorrelation-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="k6_id" jdbcType="INTEGER" property="k6Id" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, k6_id, record_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from presscorrelation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByRecordId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from presscorrelation
    where record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from presscorrelation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByRecordId" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from presscorrelation
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Presscorrelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into presscorrelation (k6_id, record_id)
    values (#{k6Id,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Presscorrelation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into presscorrelation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="k6Id != null">
        k6_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="k6Id != null">
        #{k6Id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iscas.lndicatormonitor.domain.Presscorrelation">
    <!--@mbg.generated-->
    update presscorrelation
    <set>
      <if test="k6Id != null">
        k6_id = #{k6Id,jdbcType=INTEGER},
      </if>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iscas.lndicatormonitor.domain.Presscorrelation">
    <!--@mbg.generated-->
    update presscorrelation
    set k6_id = #{k6Id,jdbcType=INTEGER},
      record_id = #{recordId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>