<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.lndicatormonitor.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.iscas.lndicatormonitor.domain.Role">
    <!--@mbg.generated-->
    <!--@Table `role`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="roleType" jdbcType="INTEGER" property="roleType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userId, `roleType`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `role`
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `role`
    where userId = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectAllRole" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `role`
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `role`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `role`
    where userId = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `role` (userId, `roleType`)
    values (#{userid,jdbcType=INTEGER}, #{roleType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.iscas.lndicatormonitor.domain.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `role`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="roleType != null">
        `roleType`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iscas.lndicatormonitor.domain.Role">
    <!--@mbg.generated-->
    update `role`
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        `roleType` = #{roleType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iscas.lndicatormonitor.domain.Role">
    <!--@mbg.generated-->
    update `role`
    set userId = #{userid,jdbcType=INTEGER},
      `roleType` = #{roleType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>